<div class="text-body">
{{ section.settings.text_banner_text }}
</div>
 {% schema %} {"tag":"div","name":"Alerts (internal Onl","class":"div-block alerts","settings":[{"id":"text_banner_text","type":"text","label":"Banner Text","default":"Important notice: This is a preproduction Shopify build. Not all functionality, components, text and images are live and functional. This is for evaluation purposes only. <span class=\"text-span-2\">v0.0.24<\/span>"}],"presets":[{"name":"Alerts (internal Onl","category":"Liquify","blocks":[]}]} {% endschema %}