<div class="container-pagetitle"><h1 li-object="page.title" class="heading-style-h1 white">{{ page.title }}</h1><div class="text-body white">
{{ section.settings.text_page_description }}
</div>
</div> {% schema %} {"tag":"div","name":"Hero","class":"div-block-51","settings":[{"id":"text_page_description","type":"text","label":"Page Description","default":"Braw Box is the taste of Scotland in the realest terms. We curate Scotland\u2019s finest products, focusing on working with local producers and building boxes that are the ultimate gifting experience."}],"presets":[{"name":"Hero","category":"Liquify","blocks":[]}]} {% endschema %}