<div class="div-block-46"><div><div class="text-subtitle white">
{{ section.settings.text_title_label }}
</div>
</div><div><div class="text-body grey centred">
{{ section.settings.text_description }}
</div>
</div></div> {% schema %} {"tag":"div","name":"Initial Text Boost","class":"container-supplier","settings":[{"id":"text_title_label","type":"text","label":"Title Label","default":"Where our products come from"},{"id":"text_description","type":"text","label":"Description","default":"Origin and taste for us are everything. We take producer responsibility seriously, and only work with manufacturing and supply partners that meet our highest quality and sustainability standards."}],"presets":[{"name":"Initial Text Boost","category":"Liquify","blocks":[]}]} {% endschema %}