<div class="div-block-46"><div><div class="text-subtitle white">
{{ section.settings.text_title_label }}
</div>
</div><div><div class="text-body grey centred">
{{ section.settings.text_description }}
</div>
</div></div> {% schema %} {"tag":"div","name":"Initial Text Boost 2","class":"container-supplier-2","settings":[{"id":"text_title_label","type":"text","label":"Title Label","default":"Producer Responsibility"},{"id":"text_description","type":"text","label":"Description","default":"It\u2019s just as important to us that what goes into the products we curate, comes out in great taste. We take producer responsibility seriously and continue to invest in local partners who share our ethical and environmental values."}],"presets":[{"name":"Initial Text Boost 2","category":"Liquify","blocks":[]}]} {% endschema %}