<div class="padding-global padding-section-large"><div class="container-large"><div class="hero_grid"><div class="hero_content"><h1 id="w-node-_2c4ba0ea-0f79-4e5f-9fb0-0dd93fb06cf5-745fa37d" class="text-carousel-title">
{{ section.settings.text_carousel_heading }}
</h1>
<p class="text-size-medium white">
{{ section.settings.text_description_text }}
</p>
<div id="w-node-_2c4ba0ea-0f79-4e5f-9fb0-0dd93fb06cfc-745fa37d" class="margin-top margin-medium"><a href="{{ section.settings.url_button_link }}" target="_blank" class="button w-button"> {{ section.settings.text_button_text }} </a>
</div></div></div></div></div> {% schema %} {"tag":"section","name":"Liquify-Hero","class":"section_li-hero","settings":[{"id":"text_carousel_heading","type":"text","label":"Carousel Heading","default":"The taste of Scotland, sent to your door"},{"id":"text_description_text","type":"text","label":"Description Text","default":"Braw Box is the taste of Scotland in the realest terms. We curate Scotland\u2019s finest products, focusing on working with local producers and building boxes that are the ultimate gifting experience."},{"id":"url_button_link","type":"url","label":"Button Link"},{"id":"text_button_text","type":"text","label":"Button Text","default":"Read the Docs"}],"presets":[{"name":"Liquify-Hero","category":"Liquify","blocks":[]}]} {% endschema %}