<div class="padding-global padding-section-large"><div class="container-large"><div class="hero_grid"><div class="hero_content"><div class="div-block-6"><div class="div-block-8"><div class="text-carousel-title white">
{{ section.settings.text_text }}
</div>
<div class="text-body white">
{{ section.settings.text_text }}
</div>
</div></div><div id="w-node-_2c4ba0ea-0f79-4e5f-9fb0-0dd93fb06cfc-745fa37d" class="margin-top margin-medium"><a href="{{ section.settings.url_button_link }}" target="_blank" class="button w-button"> {{ section.settings.text_button_text }} </a>
</div></div></div></div></div> {% schema %} {"tag":"section","name":"Liquify-Hero","class":"section_li-hero","settings":[{"id":"text_text","type":"text","label":"Text","default":"The taste of Scotland, sent to your door"},{"id":"url_button_link","type":"url","label":"Button Link"},{"id":"text_button_text","type":"text","label":"Button Text","default":"Read the Docs"}],"presets":[{"name":"Liquify-Hero","category":"Liquify","blocks":[]}]} {% endschema %}