<div class="text-body">
{{ section.settings.text_text }}
</div>
<div class="text-body">
{{ section.settings.text_text }}
</div>
 {% schema %} {"tag":"div","name":"Promotional Bar","class":"div-block","settings":[{"id":"text_text","type":"text","label":"Text","default":"Introducing our new look and new name \u2014 <span class=\"text-span\">Square1 is now Braw Box.<\/span> "},{"id":"url_link","type":"url","label":"Link"}],"presets":[{"name":"Promotional Bar","category":"Liquify","blocks":[]}]} {% endschema %}