<div class="text-body">
{{ section.settings.text_banner_text }}
</div>
<div class="text-body">
{{ section.settings.text_link_text }}
</div>
 {% schema %} {"tag":"div","name":"Promotional Bar","class":"div-block","settings":[{"id":"text_banner_text","type":"text","label":"Banner Text","default":"Introducing our new look and new name \u2014 <span class=\"text-span\">Square1 is now Braw Box.<\/span> "},{"id":"text_link_text","type":"text","label":"Link Text","default":"\u200d<a href=\"#\" li-settings:url=\"Link\" class=\"link\">Learn more<\/a>\n      "},{"id":"url_link","type":"url","label":"Link"}],"presets":[{"name":"Promotional Bar","category":"Liquify","blocks":[]}]} {% endschema %}